<div class="city-weather">
	<p ng-if="!cities.length">No cities on the list so far.</p>

	<div ng-if="cities.length" class="city-weather__list list-group">
		<button ng-repeat="city in cities" class="city-weather__list-item list-group-item" ng-click="remove(city)">
			<span class="city-weather__city-name">{{city.city}}</span>
			<span class="city-weather__temperature">{{city.temperature}}&deg;C</span>
		</button>
		<span class="city-weather__legend">Click on a city to remove it from the list</span>
	</div>
</div>
