<div class="city-chooser">
	<input type="text" placeholder="Type in a city name" class="form-control city-chooser__input"
	       ng-model="query" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}"
	       ng-change="find(query)">

	<div ng-if="results.length" class="city-chooser__list list-group">
		<button class="list-group-item city-chooser__list-item"
		        ng-repeat="result in results" ng-click="add(result)">
			{{result.city}}
		</button>
		<span class="city-chooser__legend">Click on a city to add it to the list</span>
	</div>
</div>
