.header {
	text-align: center;
	padding: 30px 0;
	border-bottom: 1px solid @gray-lighter;
	margin-bottom: 20px;
}

.header__title {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
}
.header__subtitle {
	font-size: 14px;
	color: @text-muted;
}
